@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Gilroy";
    src: url("/public/fonts/Gilroy-Extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}