#footer {
    margin-top: 15px;
}
.uzum-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    color: #333;
    border-top: 1px solid #e2e2e2;
    z-index: 100;
}
.uzum-footer .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1150px;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-col {
    flex: 1 1 200px;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
    color: #000;
}

.social-icons a {
    display: inline-block;
    margin-right: 12px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 16px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #777;
}

.footer-bottom .policies a {
    margin-left: 12px;
    text-decoration: none;
    color: #777;
}

.footer-bottom .policies a:hover {
    text-decoration: underline;
    color: #000;
}

.social-icons a img {
    height: 25px;
    width: 25px;
}

#appStore {
    width: 80px;
    height: auto;
}

#appStore2 {
    width: 80px;
    height: auto;
}

